<h1>東南亞商情</h1>

<%= image_tag @article.photo %>

<p><%= @article.title %></p>


<ul>
	<li><%= @article.content %></li>
	<li><%= @article.created_at %></li>
</ul>

<div class="aboutus-bg">
  <%= image_tag ("about.jpg")%>
</div>
