<h1>東南亞商情</h1>

<div class="info">
	<%= image_tag @article.photo %>

<h3><%= @article.title %></h3>

<ul>
	<li><%= @article.content %></li>
</ul>

<h2>評論</h2>

<ul>
	<% @responses.each do |response| %>
		<% if response.user.present? %>
			<%= current_user.email %></br>
		<% end %>
		<%= response.body %>
	<% end %>
</ul>

	<%= form_for @response, :url => article_responses_path(
		:article_id => @article, :id => @response.id), :method => :post do |f| %>
		<%= f.label :body, "欄位" %><br>
		<%= f.text_field :body %>
		<%= f.submit "回覆" %>
	<% end %>  

</div>	

		

	