<header>
	<div class="container clearfix">
		<div id="logo">
 	   	<a href="#">
 	   	  <%= image_tag("logo.png", :width => 215) %>
 	   	</a>
 	  </div>
  </div>

  <nav>
    <ul class="clearfix">
        <li><a>test</a></li>
        <li><a><%= link_to "首頁", posts_path %></a></li>
        <li><a><%= link_to "東南亞資訊", posts_path %></a></li>
        <li><a><%= link_to "關於我們", posts_path %></a></li>
        <li><a><%= link_to "服務內容", posts_path %></a></li>
    </ul>
</nav>



</header>
