<header>


	<div class="container clearfix">
		<!-- <div id="logo">
					<%= link_to posts_path do %>
						 <%= image_tag("logo.png", :width => 200) %>
						<% end %>
 	  </div> -->
  		<nav>
    		<ul class="clearfix">
        		<li><%= link_to '首頁', posts_path %></li>
        		<li><%= link_to '東南亞資訊', info_posts_path %></li>
        		<li><%= link_to '服務內容', service_posts_path %></li>
        		<li><a href="＃">專欄文章</a></li>
						<li><%= link_to '關於我們', aboutus_posts_path %></li>
    		</ul>
			</nav>
				<div class="login">
					<a href="#" id="signup-link" >註冊/登入</a>
				</div>
				<div id="foundation-popup"></div>


	</div>

</header>
