<header>
	<div class="container clearfix">
		<div id="logo">
					<%= link_to posts_path do %>
						 <%= image_tag("logo.png", :width => 200) %>
						<% end %>

 	  </div>
  		<nav>
    		<ul class="clearfix">
        		<li><%= link_to posts_path do %>
							 <%= image_tag("homeblue.png", :width => 40) %>
						<% end %></li>
        		<li><a ><%= link_to '東南亞資訊', info_posts_path %></a></li>
        		<li><a><%= link_to '服務內容', service_posts_path %></a></li>
        		<li><a href="posts/service.html">服務內容</a></li>
    		</ul>
			</nav>
	</div>
</header>
