<div class="aboutus clearfix">

    <div id="logo">
          <%= link_to posts_path do %>
             <%= image_tag("logo.png", :width => 50) %>
          <% end %>
    </div>
      <nav >
        <ul class="clearfix">
            <li><%= link_to '合作案例', work_case_posts_path(@posts) %></li>
            <li><%= link_to '服務內容', service_posts_path %></li>
            <li><%= link_to '東南亞商情', articles_path(@articles) %></li>
            <li><%= link_to '關於我們', aboutus_posts_path %></li>
        </ul>
      </nav>
</div>

<div class="service-triangle animated infinite flipInX">
    <%= image_tag ("triangle.jpg")%>
</div>
<div class="service-p animated infinite fadeInDown">
  <p>進軍東南亞事前評估</p>
</div>
  <div class="service-orange animated infinite fadeInDown">
    <p>法律｜文化｜產業</p>
  </div>
  <div class="service-content animated infinite fadeInDown">
    <h5>欲前往進軍國家之產業，相關法律諮詢</h5>
    <h5>當地地氣民情，文化適應，特別注意之文化習俗禁忌，飲食習慣</h5>
    <h5>國家政策產業，市場進入時機</h5>
  </div>





<div class="aboutus-bg">
  <%= image_tag ("service.jpg")%>
</div>
