<div class="aboutus clearfix">

    <div id="logo">
          <%= link_to posts_path do %>
             <%= image_tag("logo.png", :width => 50) %>
          <% end %>
    </div>
      <nav >
        <ul class="clearfix">
            <li><%= link_to '合作案例', work_case_posts_path(@posts) %></li>
            <li><%= link_to '服務內容', service_posts_path %></li>
            <li><%= link_to '東南亞商情', articles_path(@articles) %></li>
            <li><%= link_to '關於我們', aboutus_posts_path %></li>
        </ul>
      </nav>
</div>
<div class="workcase animated infinite fadeInDown">

  <div class="workcase-fish">
    <div class="fish-1">
      <a><%= image_tag ("workcase-fish-img.png")%></a>
    </div>
    <div class="fish-1">
      <%= image_tag ("workcase-fish-text.png")%>
    </div>
  </div>

  <div class="workcase-tea">
    <div class="tea-1">
      <%= image_tag ("workcase-tea-text.png")%>
    </div>
    <div class="tea-1">
      <%= image_tag ("workcase-tea-img.png")%>
    </div>
  </div>
</div>

<%= form_tag work_case_posts_path, method: :get do %>
  <%= select_tag "countries", options_from_collection_for_select( Country.all, :id, :name),:onchange => 'this.form.submit()', prompt: "ALL" %>
<% end %>




<div class="workcase-bg">
  <%= image_tag ("workcase-bg.jpg")%>
</div>
